@model WebApplication1.Models.GESTION_PLANES_COBRO

    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>GESTION_PLANES_COBRO</h4>
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayFor(model => model.USUARIO.ID_USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO.FULLNAME)
            </dd>*@

            <dt>
                @Html.DisplayFor(model => model.USUARIO.ESTADO_USUARIO.ESTADO)
            </dt>

            @*<dd>
                @Html.DisplayFor(model => model.USUARIO.CORREO)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.FECHA_INICIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_FIN)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.MONTO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MONTO)
            </dd>

            <dt>
                @Html.DisplayFor(model => model.ESTADO_COBRO)
            </dt>*@



        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PLAN_COBRO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


